$direct-clr: #f33333
//проекты
$logitech-clr: #824efb
$fizruk-clr: #da1244

$gray-act-clr: #ededed
$light-gray-clr: #fbfbfb
$gray-clr: #f4f4f4
$gray-arrow-clr: #cfcfcf

$red-input-clr: #dc2a2a
$placeholder-clr: #eeabab

// $max-cntr-w: 1560px