.back
    display: flex
    width: 100%
    margin-bottom: 40px
    &_icon
        display: flex
        justify-content: start
        width: 18px
        overflow: hidden
        margin-right: 17px
        svg
            height: 35px
            min-width: 50px
            transform: rotate(180deg)
            color: #d8d8d8
    &_text
        font-size: 16px
        line-height: 2



@media screen and ( max-width: 900px )
    .back
        margin-bottom: 62px
@media screen and ( max-width: 600px )
    .back
        margin-bottom: 25px
