.logitech
    .text_color
        color: $logitech-clr
    a
        &::after
            background-color: $logitech-clr
.fizruk
    .text_color
        color: $fizruk-clr
    a
        &::after
            background-color: $fizruk-clr


.direct
    .text_color
        color: $direct-clr
