.logitech
    .text_color
        color: $logitech-clr
    .a
        background-image: linear-gradient($logitech-clr, $logitech-clr)
.fizruk
    .text_color
        color: $fizruk-clr


.direct
    .text_color
        color: $direct-clr