.container
    display: flex
    flex-direction: column
    max-width: 1560px
    width: 100%
    margin-left: auto
    margin-right: auto
    padding-left: 75px
    padding-right: 75px

.projects
    .container
        padding-bottom: 160px
.services
    .container
        padding-top: 127px
        padding-bottom: 106px

.peoples
    .container
        padding-top: 183px
        padding-bottom: 159px

.contacts.contacts_index
    .container
        padding-top: 160px
        padding-bottom: 140px

.contacts.contacts_contacts
    .container
        padding-top: 28px
        padding-bottom: 140px

.footer
    .container
        padding-top: 88px
        padding-bottom: 110px

@media screen and (max-width: 1100px)
    .projects
        .container
            padding-bottom: 84px
    // .services
    //     .container
    .peoples
        .container
            padding-top: 126px
            padding-bottom: 120px
    .contacts
        .container
            padding-top: 108px
            padding-bottom: 125px
    .footer
        .container
            padding-top: 90px
            padding-bottom: 79px


@media screen and (max-width: 620px)
    .projects
        .container
            padding-top: 50px
            padding-bottom: 70px
    .services
        .container
            padding-top: 60px
            padding-bottom: 70px
    .peoples
        .container
            padding-top: 50px
            padding-bottom: 90px
    .contacts
        .container
            padding-top: 56px
            padding-bottom: 80px


@media screen and (max-width: 560px)
    .container
        max-width: 560px
        padding-left: 46px
        padding-right: 46px

