.header
    padding-top: 43px
    &_container 
        display: flex
        flex-direction: row
        max-width: 1750px
        margin-left: auto
        margin-right: auto
        
    .logo
        display: flex
        font-size: 32px
        font-family: 'Closer-Bold', sans-serif
        transition: .3s
        .line
            width: 19px
            height: 4px
            margin-top: auto
            margin-bottom: auto
            margin-right: 11px
            background-color: $direct-clr

.burger
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-top: auto
    height: 34px
    margin-left: auto
    padding-bottom: 6px
    .line
        width: 48px
        height: 4px
        background-color: black
        transition: .5s
    &:hover
        .line
            background-color: $direct-clr
        .line:nth-child(1) 
            transform: translateY(12px)
        .line:nth-child(3) 
            transform: translateY(-12px)

    &.show
        .line:nth-child(1) 
            transform: rotate(30deg) translateY(11px) translateX(6px)
            background-color: white
        .line:nth-child(2)
            opacity: 0 
            background-color: white
        .line:nth-child(3) 
            transform: rotate(-30deg) translateY(-9px) translateX(6px)
            background-color: white
        
        &:hover
            .line
                background-color: $direct-clr

.show
    position: relative
    z-index: 4
    .logo
        color: white 
        z-index: 4


@media screen and (max-width: 1920px)
    .header
        &_container
            margin-left: 85px
            margin-right: 85px



@media screen and (max-width: 900px)
    .header
        &_container
            margin-left: 76px
            margin-right: 76px


@media screen and (max-width: 765px)
    .header
        &_container
            margin-left: 43px
            margin-right: 43px
        

            
