.main
    height: calc(100vh - 100px)  //ПОМЕНЯТЬ КОГДА ШРИФТ ИЗМЕНИТСЯ!
    text-align: center
    .title
        font-size: 50px
        font-family: 'Closer-Bold', sans-serif
    .hint
        font-size: 18px
        font-family: 'Closer-Regular', sans-serif
    .container
        height: 100%
        justify-content: center
        align-items: center
        
    .btn_projects
        display: flex
        justify-content: center
        align-items: center
        font-size: 24px
        height: 72px
        width: 276px
        margin-top: 63px
        margin-left: auto
        margin-right: auto
        border: 2px solid
        font-family: 'Closer-SemiBold', sans-serif

    .vert_line
        height: 36px
        width: 4px
        margin-top: 44px
        background-color: $direct-clr
        animation: jump 2s infinite

@keyframes jump
    0%, 20%, 50%, 80%, 100%
        transform: translateY(0)
    40%
        transform: translateY(10px)
    60%
        transform: translateY(5px)

@media screen and (max-width: 765px)
    .main
        .title
            text-align: left


                
