.menu
    position: fixed
    display: flex
    right: -100%
    top: 0
    z-index: 3
    width: 100%
    height: 100vh
    background-color: black
    transition: .3s
    a
        &::selection
            color: black
            background-color: white
    &_show
        right: 0

    &_container
        display: flex
        width: 100%
        height: 100%
        max-height: 376px 
        max-width: 1073px
        padding-left: 140px
        margin: auto

    &_col_1
        display: flex
        flex-direction: column
        width: calc(50% - 140px)
        a
            white-space: nowrap

    &_soc
        display: flex
        justify-content: space-between
        max-width: 165px
        height: 30px
        padding-top: 5px
            
        svg
            height: 100%
            width: 30px
            color: white
            &:hover
                color: $direct-clr
        #i-instagram
            margin-left: -4px
        #i-behance
            margin-top: -3px
            margin-right: -7px

    &_mail
        font-size: 14px
        color: white
        margin-top: 27px

    &_btn_contact
        width: 190px
        height: 54px
        border: 2px solid white
        color: white
        font-size: 18px
        margin-top: auto

    &_col_2
        display: flex
        flex-direction: column
        justify-content: space-between
        width: 50%
        padding-left: 9%

    &_a
        display: flex
        align-items: center
        font-size: 54px
        font-family: 'Closer-Bold', sans-serif
        color: white
        position: relative
        padding-left: 32px
        &:hover
            &::before
                width: 19px

        &::before
            position: absolute
            display: block
            margin-left: -32px
            content: ''
            height: 4px
            width: 0
            background-color: $direct-clr
            transition: 0.5s

.menu_col-1_hide
    display: none !important     

@media screen and (max-width: 1300px)
    .menu_a
        &::before
            display: none
                
@media screen and (max-width: 960px)
    .menu_col-2_hide
        display: none !important

@media screen and (max-width: 900px)
    .menu
        &_col_2
            padding-left: 5%
            
@media screen and (max-width: 690px)
    .menu
        &_container
            max-height: 456px
            flex-direction: column
            width: 190px
            padding-left: 0
            justify-content: space-between
        &_col_1
            width: 100%
            order: 2
        &_soc
            width: 100%
        &_mail
            margin-top: 9px
        &_btn_contact
            margin-top: 40px
        &_col_2
            height: 100%
            width: 100%
            padding-top: 60px
            padding-bottom: 47px
            padding-left: 0
        &_a
            justify-content: start
            text-align: left
            font-size: 24px
            &::before
                content: none
