.peoples
    width: 100%
    .title, span, img, .name, .position
        &::selection
            color: white
            background-color: $direct-clr
    .container
        flex-wrap: wrap
        flex-direction: row
    &_row-1
        display: flex
        width: 100%
        margin-bottom: 73px
        .title
            width: 25%
        span
            font-size: 16px
            line-height: 1.5
            margin-top: 10px
            width: 49%
    &_row-2
        // display: flex
        display: grid
        width: 75%
        margin-left: auto
        grid-template-columns: 218px 218px 218px
        grid-column-gap: calc((100% - 654px ) / 2)
        grid-row-gap: 72px
        .name
            font-size: 24px
            font-family: 'Closer-Bold', sans-serif
        .position
            font-size: 14px
        .img
            position: relative
            height: 260px
            width: 260px
            margin-bottom: 42px
            &_hover
                position: absolute
                top: 0
                left: 0
                opacity: 0
                z-index: 4
            img
                width: 100%
                height: 100%
                object-fit: cover
                object-position: center
                transition: 0.2s
            &:hover
                .img_hover
                    opacity: 1

    .btn_peoples
        display: flex
        align-items: end
        width: 100%
        .btn_animate
            width: 190px
            height: 54px
            margin-top: -170px
            &:hover
                border: none
                color: white
                &::before, &::after
                    background-color: black

@media screen and (max-width: 1310px)
    .peoples
        &_row-2
            .name
                font-size: 20px
            .img
                height: 218px
                width: 218px

@media screen and (max-width: 1080px)
    .peoples
        &_row-1
            margin-bottom: 83px
            .title
                width: 26%
            span
                width: 65%
        &_row-2
            width: 100%
            margin-left: 0
            // justify-content: start
            .col
                // margin-right: 95px
            .img
                margin-bottom: 38px
            .position
                font-size: 12px
            .last
                width: 100%
                margin-top: 63px
        .btn_peoples
            .btn_animate
                margin-top: -156px
                margin-left: auto
                font-size: 18px

@media screen and (max-width: 850px)
    .peoples
        &_row-2
            padding-right: 150px
            grid-template-columns: 218px 218px
            grid-column-gap: calc(100% - 436px)
        .btn_peoples
            .btn_animate
                margin-left: calc(100% - 150px - 190px)
@media screen and (max-width: 777px)
    .peoples
        &_row-1
            flex-wrap: wrap
            .title
                width: 100%
            span
                width: 100%
        &_row-2
            padding-right: 50px
        .btn_peoples
            .btn_animate
                margin-left: calc(100% - 50px - 190px)
@media screen and (max-width: 777px)
   .peoples
        &_row-2
            padding-right: 0
        .btn_peoples
            .btn_animate
                margin-top: -156px
                margin-left: calc(100% - 190px)

@media screen and (max-width: 620px)
    .peoples
        &_row-1
            margin-bottom: 49px
            span
                margin-top: 15px
        &_row-2
            grid-template-columns: 1fr
            // grid-gap: 30px
            .col
                width: 100%
                // margin-bottom: 72px
            .img
                height: 260px
                width: 260px
                margin-bottom: 26px
            .last
                margin-top: 0

            .position
                font-size: 14px
            .name
                font-size: 24px
        .btn_peoples
            .btn_animate
                margin-top: 72px
                margin-left: 0
