.preload
    .logo
        transform: translate(-1000px)
        .point
            width: 4px
            height: 4px
            margin-top: auto
            margin-bottom: auto
            background-color: $direct-clr
            transition-duration: 0.5s
            opacity: 0
        .line
            width: 0
            height: 4px
            margin-top: auto
            margin-bottom: auto
            margin-right: 11px
            background-color: $direct-clr
            transition-duration: 0.5s
            transition-delay: 0.5s
        span 
            opacity: 0
            transition-delay: 1s
            transition-duration: 0.8s
    .burger
        .line
            margin-left: auto
            width: 0
            transition-timing-function: ease-in
            transition-duration: 0.3s
        .line:nth-child(1) 
            transition-delay: 1.5s
        .line:nth-child(2) 
            transition-delay: 1.8s
        .line:nth-child(3) 
            transition-delay: 2.1s
    .main
        opacity: 0
        transition-duration: 0.8s
        transition-delay: 2.1s
    .presentation
        opacity: 0
        transition-duration: 0.8s
        transition-delay: 2.1s
    
    &.preload_play
        .logo
            transform: translate(0)
            span 
                opacity: 1
            .point
                opacity: 1
            .line
                width: 15px
        .burger
            .line
                width: 48px
        .main
            opacity: 1
        .presentation
            opacity: 1

    &.preload_play_mobi
        .logo
            font-size: 23px
            transform: translate(0)
            span 
                opacity: 1
            .point
                opacity: 1
            .line
                width: 10px
                margin-right: 9px
        .burger
            .line
                width: 26px
        .main
            opacity: 1
        .presentation
            opacity: 1


