.projects
    margin-left: auto
    margin-right: auto
    .title
        margin-bottom: 35px

.card
    display: flex
    margin-bottom: 78px
    .img
        img
            width: 100%

    .text
        display: flex
        flex-direction: column
        // padding: 15px
        // width: 50%

.text_container    
    max-width: 450px    
    margin: auto auto auto 21%
    .card_title
        margin-bottom: 20px
        font-size: 28px
        font-family: 'Closer-Bold', sans-serif
        
    .category
        font-size: 14px
        font-family: 'Closer-SemiBold', sans-serif
        margin-bottom: 8px
        &:last-child
            font-family: 'Closer-Regular', sans-serif
            
        
    .description
        font-size: 14px
        margin-top: 15px
        p
            margin-bottom: 30px
            line-height: 1.6

    .card_btn
        display: flex
        justify-content: center
        align-items: center
        width: 192px
        height: 54px
        border: 2px solid
        font-size: 18px
        span
            font-family: 'Closer-SemiBold', sans-serif
            font-size: 18px

.btn_all_projects
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 77px
    background-color: $light-gray-clr
    font-family: 'Closer-Medium', sans-serif
    font-size: 22px
    margin-top: -50px
    &:hover
        background-color: $gray-act-clr
        


@media screen and (max-width: 1920px)
    .card
        .img
            width: 49%
    .card
        .text
            width: 51%
@media screen and (max-width: 1300px)
    .card
        .img
            width: 57%
    .card
        .text
            width: 43%

@media screen and (max-width: 1265px)
    .text_container 
        .card_title
            font-size: 18px
        .category
            font-size: 12px
            margin-top: 24px
            &:last-child
                margin-top: 18px

        .description
            display: none
        .card_btn
            margin-top: 28px
        
@media screen and (max-width: 1050px)
    .text_container 
        margin-left: 30px
        .card_title
            margin-bottom: 15px
        .category
            margin-top: 0
        .card_btn
            margin-bottom: 20px

@media screen and (max-width: 675px)
    .projects
        .title
            margin-bottom: 31px
    .card
        flex-wrap: wrap
        .img
            width: 100%
            margin-bottom: 17px
        .text
            width: 100%

    .text_container
        margin-left: 0
        .card_title
            font-size: 20px
            margin-bottom: 17px
        .category
            font-size: 14px









