.project-card
    &_content
        display: flex
        flex-direction: column
        width: 100%
        margin-top: 78px
        &_chapter
            max-width: 1040px
            margin-top: 30px
