.project-card
    width: 100%
    padding-bottom: 93px
    h3 
        font-size: 22px
        font-family: 'Closer-Bold', sans-serif
        margin-bottom: 20px
    p 
        font-size: 16px
        line-height: 1.5


@media screen and ( max-width: 900px )
    .project-card
        .container
            padding-left: 134px

@media screen and ( max-width: 600px )
    .project-card
        .container
            padding-left: 46px
            padding-top: 45px
        p 
            font-size: 14px
