.slider
    width: 100%
    overflow: hidden
    &_container
        padding-left: calc((100vw - (1560px - 100px)) / 2 )
        display: inline-flex
        transition: 0.3s
    
.slider-arr
    display: flex
    &_left, &_right
        width: 50px
        height: 50px
        svg
            height: 100%
            width: 100%
