.slider
    width: 100%
    overflow: hidden
    &_container
        padding-left: calc((100vw - (1560px - 150px)) / 2 )
        display: inline-flex
        transition: margin-left 0.3s
    &_item
        transition: 0.3s
        &_hide
            opacity: 0.3
            pointer-events: none

    
.slider-arr
    display: flex
    justify-content: space-between
    min-width: 100px
    
    &_left, &_right
        display: flex
        width: 45px
        height: 45px
        overflow: hidden
        
        svg
            width: 47px
            height: 47px
            min-width: 47px
            color: $direct-clr
            transition: 0.2s
    &_right
        justify-content: flex-end
        &:hover
            svg
                margin-right: 10px
    &_left
        &:hover
            svg
                margin-left: 10px
            // width: 35px
        
    .active
        svg
            color: $direct-clr
    .no-active
        svg
            color: $gray-arrow-clr


#i-l-arrow
    transform: rotate(180deg)

@media screen and (max-width: 1560px)
    .slider_container
        padding-left: 75px
        padding-right: 75px

   
@media screen and (max-width: 560px)
    .slider_container
        // max-width: 560px
        padding-left: 46px
        padding-right: 46px
